footer {
    background-color: black;
    color: white;
    & > section[role$="banner"] {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/footer_banner.jpg");
        color: white;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > p {
            font-size: 2em;
        }
    }
    & input {
        padding: 1em !important;
        color: white !important;
        border-radius: 3em;
    }
    & > section[role$="footer"] {
        padding:5em;
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 3fr;
    }
}

.footer__icons{
    display: flex;
    justify-content: space-around;
}
